<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"],
        input[type="number"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

{{> navbar}}

<body>
    <h1>Update Your Cart</h1>
    <form action="/updateCart" method="post">
        <label for="product_type">Product Brand:</label><br>
        <input type="text" name="product_Brand" id="product_Brand" value="{{updateCart.product_Brand}}"><br>

        <label for="product_name">Product Name:</label><br>        
        <input type="text" name="product_processor" id="product_processor" value="{{updateCart.product_processor}}"><br>
         <label for="product_name">RAM Size:</label><br>        
        <input type="text" name="ram_size" id="ram_size" value="{{updateCart.ram_size}}"><br>
         <label for="product_name">Laptop Model:</label><br>        
        <input type="text" name="laptop_model" id="laptop_model" value="{{updateCart.laptop_model}}"><br>


        <label for="price">Price:</label><br>
        <input name="price" id="price" value="{{updateCart.price}}"><br>
        <label for="product_name">Time Stamp:</label><br>        
        <input type="text" name="timestamp" id="timestamp" value="{{updateCart.timestamp}}"><br>
    
<!-- 
    <label for="product_name">Product Name:</label><br>
    <input type="text" id="product_name" name="product_name" required><br> -->

    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" step="0.01" min="0" required><br>
    <label for="product_type">Time Stamp:</label><br>
    <input type="number" id="timestamp" name="timestamp" required><br>
        
       
       <input type="hidden" name="productId" value="{{updateCart.productId}}">

        <button>submit</button>
    </form>
</body>

</html>
